.search-bar {
    display: flex;
    align-items: center;    
    position: absolute;
    right: 0;
    width: 310px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.deletebtn{
    position: absolute;
    right: 0;
    top: 125px;
}

.search-bar button:hover {
    background-color: #45a049;
}
