@mixin Center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin DropDown(){ 
      select {
        padding: 8px 16px;
        font-size: 14px;
        margin: 15px;
        font-weight: bold;
        color: #333;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
      }
      
}