@mixin Center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin HomeButton(){
    text-decoration: none;
    align-self: flex-start;
    color: white;
    margin-right: 15px;
    margin-top: 15px;
    padding: 15px 30px;
    background-color: #445d8b;
    border-radius: 10px;
    transition: all .3s;
    &:hover{
      background-color: #7692ca;
    }
}