@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header{
    .search-bar, .dark-mode-toggle{
      display: none;
    }
    &__navigation{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s ease;

      &.show {
        display: flex;
        margin-left: 0;
      }

      li {
        margin: 10px 0;
      }

      .header__navigation-link {
        font-size: 20px;
      }
    }
  }
  .section2 {
    height: auto;
    padding: 15px;
    .home{
      .cardSkill {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
      }
    }
  }

  .section3{
    height: auto;
  }

  .section4{
    display: none;
  }
}
