.container {
  display: flex;
  .content {
    flex-grow: 1;
    margin-left: 300px; /* Largeur de la sidebar */
  }
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3d4d6d;
  overflow-x: hidden;
  padding-top: 20px;
  // display: none;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.753);

  .logo-wrapper {
    margin-bottom: 50px; /* Ajout de cette ligne */

    .logo {
      margin-left: 10px;
      font-size: 34px;
      font-weight: 900;
      margin-bottom: 50px;
      text-decoration: none;
      color: white;
      text-align: center;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    .dropbtn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      margin: 10px;
      width: 300px;
      height: 50px;
      line-height: 1.5;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon-right {
        margin-right: 15px;
      }

      &:hover {
        background-color: #7692ca;
        color: #f1f1f1f1;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #3d4d6d;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      right: 20px;
      z-index: 1;
      a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #7692ca;
        }
      }
    }
    &:hover .dropdown-content {
      display: block;
    }
  }
  
  .dropdown-device {
    .dropbtn-device {
      &:before {
        content: "\f108";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
      }
    }
    .dropdown-content-device {
      min-width: 120px;
      right: 0;
      left: auto;
      top: 40px;
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 20px;
        border-bottom: 10px solid #3d4d6d;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
      }
      a {
        padding: 10px 16px;
        &:hover {
          background-color: #7692ca;
        }
      }
    }
  }
}


.content {
  display: flex;
  margin: 5px;

  .select {
    padding: 8px 16px;
    font-size: 14px;
    margin: 5px;
    height: 48px;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
  }
  
  .linkBar {
    border: 2px solid rgb(221, 219, 219);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    button{
      display: none;
    }
    &:hover{
      button{
        display: flex;
        float: right;
        margin-top: -25px;
        border: none;
        font-size: 25px;
        filter: invert(1);
        background-color: transparent;
        body.dark-mode & {
          filter: invert(0);
        } 
      }
    }
  }
  
  .Modified {
    margin: 10px;
    .Modifier-Button{
      padding: 8px 16px;
      font-size: 14px;
      height: 50px;
      font-weight: bold;
      color: #000000;
      // background-color: #007bff;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  
  .viewSite {
    margin: 10px;
    .viewSite-Button {
      height: 50px;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      // background-color: #28a745;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      white-space: nowrap;
    }
  }

  .dark-mode-toggle {
    input[type="checkbox"] {
      display: none;
    }
  
    label {
      position: relative;
      top: 19px;
      left: 15px;
      font-size: 1em;
      cursor: pointer;
    }
  }
}