@import "../Theme/DarkMode.scss";

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background-color: transparent;
    backdrop-filter: blur(5px); // Ajout de l'effet de flou
  
    &__logo {
      position: relative;
      font-size: 55px;
      color: white;
      text-decoration: none;
      font-weight: 600;
      // transition: 0.3s;
      body.dark-mode & {
        color: rgb(0, 0, 0);
      }
  
      // &:hover {
      //   color: $FirstColor;
      // }
    }
  
    &__navigation {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 10px;
  
      li {
        list-style: none;
        margin: 0px 25px;
  
        & .header__navigation-link {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          text-decoration: none;
          font-size: 35px;
          letter-spacing: 1px;
          // transition: 0.3s;
          body.dark-mode & {
            color: rgb(0, 0, 0);
          }
  
          &:hover {
            color: red;
          }
      }
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;

    input[type="text"] {
      padding: 5px 10px;
      border: 2px solid rgb(147, 147, 147);
      border-radius: 3px;
      font-size: 1em;
      margin-right: 5px;

    }

    button[type="submit"] {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;

      font-size: 1em;
      cursor: pointer;
    }
  }

  .dark-mode-toggle {
    input[type="checkbox"] {
      display: none;
    }

    label {
      font-size: 1em;
      cursor: pointer;
    }
  }
}