@import "./abstracts/Mixins.scss";
@import "./abstracts/Variables.scss";

body{
    background-color: $BgColor;
    color: black;
}

body.dark-mode{
    background-color: #232326;
    color: white
}

/*navbar*/
@import "./components/navbar.scss";  
  
/*Pages*/
@import "./pages/Home.scss";
@import "./pages/Create.scss";
@import "./pages/Docs.scss";

/*Footer*/
@import "./components/footer.scss";