@mixin Center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin Card{
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
        .card {
        background-color: #f0f0f0;
        padding: 20px;
        text-align: center;
        
        img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        }
        
        h3 {
        font-size: 35px;
        margin-bottom: 10px;
        }
        
        p {
        font-size: 14px;
        color: #888;
        }
    }
}