.ButtonPageWidget{
  position: relative;
  right: 50px;
  button{
    padding: 15px 30px;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
  }
}
